@model IEnumerable<Automation.Gui.Models.testrun>

<div class="panel panel-primary">
    <div class="panel-heading">Test Run Results</div>
    <table class="table">
        <tr>
            <th>
                Test Case Count
            </th>
            <th>
                Overall Result
            </th>
            <th>
                Tests Passed
            </th>
            <th>
                Tests Failed
            </th>
            <th>
                Tests Inconclusive
            </th>
            <th>
                Tests Skipped
            </th>
            <th>
                Test Run Start Time
            </th>
            <th>
                Test Run End Time
            </th>
            <th>
                Test Run Duration
            </th>
            <th>
                <!--This column is for the action buttons-->
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class=@(item.result == "Failed" ? "bg-danger" : "")>
                <td>
                    @Html.DisplayFor(modelItem => item.testcasecount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.result)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.passed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.failed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.inconclusive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.skipped)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.starttime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.endtime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.duration)
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-danger" href="@Url.Action("Delete", "Testruns", new {item.guid})">
                            <span class="glyphicon glyphicon-trash"></span>
                            <span>Delete</span>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>