@model Automation.Gui.Models.testrun

@{
    ViewBag.Title = "Delete";
}

<br />
<br />
<br />

<h2>Are you sure you want to delete this?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Test Case Count</dt>
        <dd>@Html.DisplayFor(model => model.testcasecount)</dd>

        <dt>Overall Result</dt>
        <dd>@Html.DisplayFor(model => model.result)</dd>

        <dt>Tests Passed</dt>
        <dd>@Html.DisplayFor(model => model.passed)</dd>

        <dt>Tests Failed</dt>
        <dd>@Html.DisplayFor(model => model.failed)</dd>

        <dt>Tests Inconclusive</dt>
        <dd>@Html.DisplayFor(model => model.inconclusive)</dd>

        <dt>Tests Skipped</dt>
        <dd>@Html.DisplayFor(model => model.skipped)</dd>

        <dt>Test Run Start Time</dt>
        <dd>@Html.DisplayFor(model => model.starttime)</dd>

        <dt>Test Run End Time</dt>
        <dd>@Html.DisplayFor(model => model.endtime)</dd>

        <dt>Test Run Duration</dt>
        <dd>@Html.DisplayFor(model => model.duration)</dd>
    </dl>

    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <a class="btn btn-primary" href="@Url.Action("Index")">
                <i class="glyphicon glyphicon-arrow-left"></i>
                <span>Back to List</span>
            </a>
            <button class="btn btn-danger" type="submit" value="Delete">
                <span class="glyphicon glyphicon-trash"></span>
                <span>Delete</span>
            </button>
        </div>
    }
</div>