@model Automation.Gui.Models.setting

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>setting</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.targetBrowser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.targetBrowser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.operatingSystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.operatingSystem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.seleniumHubUri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seleniumHubUri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.screenshotFolder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.screenshotFolder)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
