@using Automation.Gui.Controllers

@{
    ViewBag.Title = "Test Cases Page";
}

@Html.Partial("TestsJumbotron")

<hr />

@if (TestsController.TriedToImport && TestsController.ImportSuccessful)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Done!</strong>
        Your last attempt to import tests was successful.
    </div>

    <div>
        <a class="btn btn-success disabled" href="@Url.Action("ImportTests")">
            <i class="glyphicon glyphicon-import"></i>
            <span>Import test cases</span>
        </a>
    </div>
}

else if (TestsController.TriedToImport && !TestsController.ImportSuccessful)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Something went wrong!</strong>
        Your last attempt to import tests failed. Please try again.
    </div>

    <div>
        <a class="btn btn-success" href="@Url.Action("ImportTests")">
            <i class="glyphicon glyphicon-import"></i>
            <span>Import test cases</span>
        </a>
    </div>
}

else
{
    <div>
        <a class="btn btn-success" href="@Url.Action("ImportTests")">
            <i class="glyphicon glyphicon-import"></i>
            <span>Import test cases</span>
        </a>
    </div>
}

<hr />

@Html.Partial("TestsTable")